*{
 background-color: #f1f8ff;
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
    padding-top: 40px;
}
.title-text p{
    margin: auto;
    font-size: 30px;
    color: #2062ad;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after{
    content: '';
    width: 80px;
    height: 35px;
    background: linear-gradient(#2062ad,#fff);
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1{
    font-size: 20px;
}
.title-text h2{
    font-size: 25px;
    color:#2062ad;
}

.title-text a{
    font-size: 20px;
    color:#2062ad;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited {
    border: 1px solid #2062ad;
    color: #2062ad;
}

.btn:hover,
.btn:active {
    background-color: #2062ad;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #2062ad;
    color: #fff;
}
.hero-text-box{
    padding-left: 35%;
    padding-bottom: 90px;
    padding-top: 30px;
}

